.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #372bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 11px 2px #372bff;
    box-shadow: 0 2px 11px 2px #372bff;
}

.Toolbar nav {
    height: 100%;
    width: 100%;
}
