.NavigationItem {
    margin: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 2px solid transparent;

    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #fff;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0062cc, 0 0 30px #0062cc, 0 0 40px #0062cc, 0 0 55px #0062cc, 0 0 75px #0062cc;
}
